## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Labuhan,ID,2022-07-23 18:39:49,-6.8844,112.2051,75.90,85,94,5.79,overcast clouds
1,1,Muravlenko,RU,2022-07-23 18:35:16,63.7898,74.5230,50.54,95,100,21.74,moderate rain
2,2,Grand-Santi,GF,2022-07-23 18:39:49,4.2500,-54.3833,83.73,78,100,2.35,overcast clouds
3,3,Quatre Cocos,MU,2022-07-23 18:39:49,-20.2078,57.7625,69.91,75,40,17.07,light rain
4,4,Avarua,CK,2022-07-23 18:38:27,-21.2078,-159.7750,73.45,68,75,9.22,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Labuhan,ID,2022-07-23 18:39:49,-6.8844,112.2051,75.90,85,94,5.79,overcast clouds
2,2,Grand-Santi,GF,2022-07-23 18:39:49,4.2500,-54.3833,83.73,78,100,2.35,overcast clouds
10,10,Hithadhoo,MV,2022-07-23 18:39:52,-0.6000,73.0833,81.10,75,100,7.43,overcast clouds
12,12,Hilo,US,2022-07-23 18:39:52,19.7297,-155.0900,83.28,96,100,5.75,light rain
14,14,Atuona,PF,2022-07-23 18:39:53,-9.8000,-139.0333,76.78,80,46,18.63,light rain

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                235
City                   235
Country                235
Date                   235
Lat                    235
Lng                    235
Max Temp               235
Humidity               235
Cloudiness             235
Wind Speed             235
Current Description    235
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Labuhan,ID,2022-07-23 18:39:49,-6.8844,112.2051,75.90,85,94,5.79,overcast clouds
1,2,Grand-Santi,GF,2022-07-23 18:39:49,4.2500,-54.3833,83.73,78,100,2.35,overcast clouds
2,10,Hithadhoo,MV,2022-07-23 18:39:52,-0.6000,73.0833,81.10,75,100,7.43,overcast clouds
3,12,Hilo,US,2022-07-23 18:39:52,19.7297,-155.0900,83.28,96,100,5.75,light rain
4,14,Atuona,PF,2022-07-23 18:39:53,-9.8000,-139.0333,76.78,80,46,18.63,light rain
...,...,...,...,...,...,...,...,...,...,...,...
230,678,Quang Ngai,VN,2022-07-23 18:55:41,15.1167,108.8000,75.04,90,0,4.54,clear sky
231,681,Puerto El Triunfo,SV,2022-07-23 18:57:35,13.2833,-88.5500,89.02,58,67,7.94,broken clouds
232,684,Marsh Harbour,BS,2022-07-23 18:57:36,26.5412,-77.0636,83.73,71,0,13.67,clear sky
233,686,Vega De Alatorre,MX,2022-07-23 18:57:37,20.0333,-96.6333,89.37,57,23,17.20,few clouds
234,689,Xiashi,CN,2022-07-23 18:57:38,30.5363,120.6864,86.02,94,0,4.97,clear sky

In [20]:
# Determine if there are any empty rows.
clean_df.count()

City_ID                235
City                   235
Country                235
Date                   235
Lat                    235
Lng                    235
Max Temp               235
Humidity               235
Cloudiness             235
Wind Speed             235
Current Description    235
dtype: int64

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Labuhan,ID,75.90,overcast clouds,-6.8844,112.2051,
2,Grand-Santi,GF,83.73,overcast clouds,4.2500,-54.3833,
10,Hithadhoo,MV,81.10,overcast clouds,-0.6000,73.0833,
12,Hilo,US,83.28,light rain,19.7297,-155.0900,
14,Atuona,PF,76.78,light rain,-9.8000,-139.0333,
19,Aktau,KZ,75.78,light rain,43.6500,51.2000,
20,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
25,Victoria,HK,85.73,broken clouds,22.2855,114.1577,
27,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
28,Junagarh,IN,76.60,overcast clouds,19.8667,82.9333,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [23]:
hotel_df.count()

City                   235
Country                235
Max Temp               235
Current Description    235
Lat                    235
Lng                    235
Hotel Name             235
dtype: int64

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Labuhan,ID,75.90,overcast clouds,-6.8844,112.2051,DoubleFAG
1,Grand-Santi,GF,83.73,overcast clouds,4.2500,-54.3833,Hotel La Villa Couacou
2,Hithadhoo,MV,81.10,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Hilo,US,83.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Atuona,PF,76.78,light rain,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
230,Quang Ngai,VN,75.04,clear sky,15.1167,108.8000,Central Hotel
231,Puerto El Triunfo,SV,89.02,broken clouds,13.2833,-88.5500,Hotel Jardin
232,Marsh Harbour,BS,83.73,clear sky,26.5412,-77.0636,Abaco Beach Resort
233,Vega De Alatorre,MX,89.37,few clouds,20.0333,-96.6333,Hotel D Luxe
234,Xiashi,CN,86.02,clear sky,30.5363,120.6864,皮都锦江大酒店

In [25]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))